.section {
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
  max-width: 390px;
}

.title,
.description {
  text-align: center;
}
