.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  transition: all 140ms ease-in-out;
  background-color: transparent !important;
}

.card:hover {
  background-color: transparent !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.body {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.description {
  font-size: 14px;
}
