.scroll {
  position: relative;
  width: 300vw;
  height: 100px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .scroll {
    width: 500vw;
  }
}

@media only screen and (max-width: 800px) {
  .scroll {
    width: 700vw;
  }
}

@media only screen and (max-width: 600px) {
  .scroll {
    width: 1000vw;
  }
}

.primary,
.secondary {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  animation-play-state: running;
}

.primary {
  animation: scroll-primary 50s linear infinite;
}

.secondary {
  animation: scroll-secondary 50s linear infinite;
}

@media only screen and (max-width: 1200px) {
  .primary,
  .secondary {
    animation-duration: 60s;
  }
}

@media only screen and (max-width: 800px) {
  .primary,
  .secondary {
    animation-duration: 70s;
  }
}

@media only screen and (max-width: 600px) {
  .primary,
  .secondary {
    animation-duration: 85s;
  }
}

@keyframes scroll-primary {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-secondary {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
