[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = "0.7"
tokio = { version = "1", features = ["full"] }
mime_guess = "2.0"
clap = { version = "4", features = ["derive"] }
