.navbar {
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  backdrop-filter: blur(6px);
  transition: all 0.3s;
}

.content {
  padding: 10px 2.5%;
  width: 95%;
  align-items: center;
  border-radius: 20px;
}

.section {
  align-items: center;
  gap: 15px;
}

.brand {
  gap: 5px;
  font-size: 12px;
}

.link {
  font-family: rainyhearts;
  font-size: 22px;
}

.title {
  font-family: rainyhearts;
  background: #f650ff;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
